.App {
  /*text-align: center;*/
}

.App-header {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(239, 239, 239);
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}
